---
layout: default
---

<article class="page-content max-width-limited">
  <header>
    <div class="date">{{ page.date | date: "%B %-d, %Y" }}</div>
    <h1 class="title">{{ page.title }}</h1>
    <div class="line"></div>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

  <!-- Enable Comments -->
  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}

  <!-- Enable MathJax -->
  {% if page.mathjax %}
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}
</article>
